{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
<html>
    <div id="wrapperIulia">
        <!-- Sidebar -->
            <nav id="spy">
                <ul id="ShopsUl1" class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href=""><span class="fa fa-home solo">Stores</span></a>
                    </li>
                    {%for shop in all_shops%}
                    <li>
                        <a id="{{shop.name}}" onclick="MarkMeOnMap('{{shop.name}}',true)" data-scroll>
                            <span class="fa fa-anchor solo">{{shop.name}}</span>
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            </nav>
    </div>

    <div id="shopMap">
        <img id="imgMap" src = "{% static 'images/map.png'  %}"/>
    </div>

    <div id = "gif">
        <img src = "https://66.media.tumblr.com/a5b3a89748f5e605b182a23ffc46c907/tumblr_mxymakIh951rbje98o1_1280.gif"/>
    </div>

    <footer class="container-fluid text-center">
        <p>@Copyright 2019 ShopThemAll</p>
    </footer>

</body>
</html>

<script type="text/javascript">


    var jsonMap = JSON.parse('{{ shops_map | escapejs }}');
    console.log(jsonMap);

    function removeElementsByClass(className){
      var elements = document.getElementsByClassName(className);
     while(elements.length > 0){
            elements[0].parentNode.removeChild(elements[0]);
     }
    }

     removeElementsByClass('location_pin');

    {%if search_resulted_shop  %}
        var shops_json = JSON.parse('{{ search_resulted_shop | escapejs }}');
        console.log(shops_json);
        shops_json.forEach(function(elem){MarkMeOnMap(elem,false);});

    {%endif%}

    function MarkMeOnMap(shop_name, deletePrev=false)
    {
    console.log(deletePrev);
        if(deletePrev)
            removeElementsByClass('location_pin');
        var img = new Image();
        img.src = "{% static 'images/location_pin.png' %}";
        img.className  = "location_pin";
        var div = document.getElementById('shopMap');

        img.style.width = '45px';
        img.style.height = '45px';

        var a = document.createElement("a");
        a.style.position =  "absolute";
        console.log(shop_name);
        a.style.left = jsonMap[shop_name][0] + document.getElementById('imgMap').offsetLeft + 100  + 'px';
        a.style.top = jsonMap[shop_name][1] + document.getElementById('imgMap').offsetTop + 'px';
        console.log(document.getElementById('imgMap').offsetLeft);
        console.log(document.getElementById('imgMap').offsetTop);

        a.style.width = '45px';
        a.style.height = '45px';
        a.setAttribute("href","shop/"+shop_name);
        a.appendChild(img);
        div.appendChild(a);

    }
</script>

{% endblock %}
