{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">

<div class="container">
  <form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading " >
                        <div class="text-center">
                             <strong>Log In</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="/register" method="post">

                            {% csrf_token %}

                            <div class = "form-group">
                                <label>Name:</label>
                                {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ form.username.errors }}
                                </div>
                                {% endif %}
                                {{ form.username }}
                            </div>

                            <div class = "form-group">
                                <label>Password:</label>
                                {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password.errors }}
                                </div>
                                {% endif %}
                                {{ form.password }}
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-offset-4 col-sm-9">
                                    <button method="post" type="submit" class="btn  btn-sm">
                                        Log In</button>
                               </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </form>
</div>

    <footer class="container-fluid text-center">
        <p>@Copyright 2019 ShopThemAll</p>
      </footer>

</body>
</html>
{% endblock %}

