{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
    <div id = "categories">
        <!-- Sidebar -->
            <nav id = "sidebar-categ">
                <ul id = "ShopsUl" class = "sidebar-nav nav">
                    <li class = "sidebar-brand">
                        <a href = "/shop/{{shop.name}}"><span class="fa fa-home solo"> Categories </span></a>
                    </li>
                    {% for categ in all_categories %}
                    <li>
                         <a href="/shop/{{shop.name}}/{{categ.name}}">
                            <span class="fa fa-anchor solo">{{ categ.name }}</span>
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            </nav>
    </div>

    <div id = "grid-container">
        {% for prod in all_prods %}
        <div id = "grid-item">
            <a href = "/product/{{prod.id}}" >
                <img id = "image" src = '{{prod.picturePath}}'>
            </a>
            <div id = "produse">
                <h3>{{ prod.name }}</h3>
                <h5>{{ prod.price }} lei </h5>
            </div>
        </div>
        {%endfor%}
    </div>

   <footer class="container-fluid text-center">
        <p>@Copyright 2019 ShopThemAll</p>
      </footer>

</body>
</html>
{% endblock %}
